/* Utility classes */
.h-primary{
    font-size: 26px;
    padding: 8px;
    margin: 10px;
}
.h-secondary{
    font-size: 15px;
    padding: 6px;
    font-family: 'Playfair Display';
}
.btn{
    padding: 6px 10px;
    margin: 10px 7px;
    font-size: 0.9rem;
}

/* Navigation */

#navbar ul li a{
    padding: 0px 9px;
    padding-bottom: 2px;
}
#logo img{
    height: 50px;
    width: 50px;
    margin: 1px 1px;
}
#navbar ul li{
    font-size: 0.8rem;
}

/* Home Section */
#home{
    height: 354px;
    padding: 3px 20px;
}
#home::before{
    height: 800px;
}
#home p{
    font-size: 0.8rem;
}

/* Services Section */
#services{
    flex-direction: column;
}

#services .box img{
    height: 120px;
    width: 150px;
}
#services .box{
    padding: 14px;
    margin: 5px 5px;
}
#services .box p{
    font-size: 0.8rem;
}
.services-container::before{
    height:1500px;
    
}


/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    height: 50px;
    width: 50px;
}
.client-item{
    padding: 10px;
    margin: 10px; 
}

/* Contact Section */
#contact-box input, #contact-box textarea{
    width: 90%;
    padding: 4px;
    border-radius: 15px;
    font-size: 0.9rem;
}

#contact-box label{
    font-size: 1rem;
    color: white;
    font-family: 'Playfair Display';
    font-weight: bold;
}